* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-info {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.photo-info article {
  width: 35%;
}

img {
  width: 35%;
  height: auto;
}

header {
  min-height: 10vh;
}