* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    padding-bottom: 4rem;
}

.photo-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 5rem auto 0 auto;
}